.container{
    width: 60rem;
    margin: auto;
    height: auto;
    background: rgb(321,213,132);
    padding: 1rem;
}
form{
    text-align: center;
}
.result{
    width: 40rem;
    margin: auto;
}
.result p{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 2;
}
label, button, input{
    padding: 0.5rem;
    font-size:1.4rem;
}